<div>
  <h1>Administración de clientes</h1>
  <table *ngIf="hayRegistros(); else sinclientes">
    <tr>
      <td>Id</td>
      <td>Nombre</td>
      <td>Apellidos</td>
      <td>Borrar</td>
      <td>Seleccionar</td>
      <td>Id</td>
      <td>Descripcion</td>
      <td>Precio</td>
      <td>Borrar</td>
      <td>Seleccionar</td>
      <td>Id</td>
      <td>Descripcion</td>
      <td>Precio</td>
      <td>Borrar</td>
      <td>Seleccionar</td>
      <td>Id</td>
      <td>Descripcion</td>
      <td>Precio</td>

    </tr>
    <tr *ngFor="let cus of customers">
      <td>{{cus.id}}</td>
      <td>{{cus.nombre}}</td>
      <td>{{cus.apellidos}}</td>
      <td>{{cus.nombre_fiscal}}</td>
      <td>{{cus.nif_cif}}</td>
      <td>{{cus.direccion}}</td>
      <td>{{cus.direccion_fiscal}}</td>
      <td>{{cus.codigo_postal}}</td>
      <td>{{cus.poblacion}}</td>
      <td>{{cus.provincia}}</td>
      <td>{{cus.email}}</td>
      <td>{{cus.pagina_web}}</td>
      <td>{{cus.cuenta_corriente}}</td>
      <td>{{cus.telefono}}</td>
      <td>{{cus.telefono_2}}</td>
      <td>{{cus.telefono_3}}</td>
      <td>{{cus.contacto}}</td>
      <td>{{cus.contacto_2}}</td>
      <td><button (click)="baja(cus.id)">Borrar?</button></td>
      <td><button (click)="seleccionar(cus.id)">Seleccionar</button></td>
    </tr>
  </table>
  <ng-template #sinclientes>
    <p>No hay clientes para mostrar</p>
  </ng-template>
  <div>
    <p>
      Nombre:<input type="text" [(ngModel)]="cus.nombre" />
    </p>
    <p>
      Apellidos:<input type="number" [(ngModel)]="cus.apellidos" />
    </p>
    <p><button (click)="alta()">Agregar</button>
      <button (click)="modificacion()">Modificar</button>
    </p>
  </div>
</div>
